rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    
    
    match /books/{bid}/thumbnail.jpg {
      allow read :if true;
      allow write:if request.auth!=null;
    }
    match /books/{bid}/book.pdf {
      allow read :if true;
      allow write:if request.auth!=null;
    }
    match /newspapers/{bid}/thumbnail.jpg {
      allow read :if true;
      allow write:if request.auth!=null;
    }
    match /newspapers/{bid}/book.pdf {
      allow read :if true;
      allow write:if request.auth!=null;
      allow create:if request.auth!=null;
    }
    match /newspapers/{bid}/chapters/{cid}/book.pdf {
      allow read :if true;
      allow write:if request.auth!=null;
      allow create:if request.auth!=null;
    }
    match /newspapers/{bid}/chapters/{cid}/pages/{imagename} {
      allow read :if request.auth!=null;
      allow write:if request.auth!=null;
      allow create:if request.auth!=null;
    }
    
    match /books/{bid}/book.pdf {
      allow read :if true;
      allow write:if request.auth!=null;
      allow create:if request.auth!=null;
    }
    
    match /books/{bid}/pages/{imageID} {
      allow read :if request.auth!=null;
      allow write:if request.auth!=null;
    }
    
     match /photoalbums/{bid}/thumbnail.jpg {
      allow read :if true;
      allow write:if request.auth!=null;
    }
    match /photoalbums/{bid}/photos/{ppp} {
      allow read :if true;
      allow write:if request.auth!=null;
    }
    match /photoalbums/{bid}/photos/{ppp}/book.pdf {
      allow read :if true;
      allow write:if request.auth!=null;
    }

     match /notes/{bid}/thumbnail.jpg {
      allow read :if true;
      allow write:if request.auth!=null;
    }
    
    match /notes/{bid}/sheets/{ppp} {
      allow read :if true;
      allow write:if request.auth!=null;
    }
    match /notes/{bid}/sheets/{ppp}/book.pdf {
      allow read :if true;
      allow write:if request.auth!=null;
    }
    match /notes/{bid}/sheets/{ppp}/pages/{img} {
      allow read :if true;
      allow write:if request.auth!=null;
    }

     match /posters/{bid}/thumbnail.jpg {
      allow read :if true;
      allow write:if request.auth!=null;
    }
    match /posters/{bid}/sheets/{ppp} {
      allow read :if true;
      allow write:if request.auth!=null;
    }
    match /posters/{bid}/sheets/{ppp}/pages/{img} {
      allow read :if true;
      allow write:if request.auth!=null;
    }
  }
}
